<footer class="footer">
  <div class="container d-flex align-items-center">
    <div class="col-md-4">
      <p class="footer__copyright">©2019 <b>tulus</b>driyo. All Rights Reserved.</p>
    </div>
    <div class="col-md-3 ml-auto">
      <div class="row">
        <ul class="footer__socials">
          <li><a href=""><i class="fab fa-behance-square"></i></a></li>
          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
          <li><a href=""><i class="fab fa-google-plus-square"></i></a></li>
          <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
          <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>